* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	display: table-cell;
	vertical-align: middle;
}

.main {
	position: relative;
	text-align: center;
	width: 100%;
	color: #fff;
	height: 100vh;
	display: table;
	background: #000 url(../img/main-bg1.png) center center no-repeat;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
}

.main:hover {
		background: #000 url(../img/main-bg2.png) center center no-repeat;
}

.main-header {
	position: relative;
	z-index: 2;
}

.main-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.85);
	z-index: 1;
}

.main h1 {
	font-size: 72px;
	margin-bottom: 60px;
}

.main p {
	margin-top: 60px;
	color: #d6d6d6;
}

.main-line {
	background-color: #fff;
	height: 6px;
	width: 820px;
	margin: 0 auto;
	border-radius: 5px
}

.main-down {
	position: absolute;
	bottom: 0;
	display: inline-block;
	z-index: 4;
	left: 50%;
	margin-left: -80px;
	margin-bottom: 30px;
}

.main-down a {
    text-transform: uppercase;
	text-decoration: none;
	z-index: 4;
	font-size: 24px;
	border-radius: 5%;
	border: 3px solid transparent;
	padding: 10px;
	color: #fff;
	transition: all linear .2s;
    -webkit-transition: all linear .2s;
}

.main-down a:hover {
	color: #fff;
	border-color: #fff;
}

/** Portfolio **/

.portfolio {
	background-color: #1c1c1c;
}

.portfolio-header {
	text-align: center;
	color: #fff;
	margin-top: 100px;
}